:root {
  --dark-color: #21243D;
  --primary-color: #FF6464;
  --secondry-color: #00A8CC;
  --light-color: #8695A4;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-secondry-color: #EDF7FA;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--white-color);
  color: var(--dark-color);
  line-height: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  fill: #21243D;
}

.header {
  min-height: 50px;
  display: flex;
}

.header nav {
  position: relative;
  width: 100%;
}

.header__button {
  position: absolute;
  z-index: 9;
  right: 5px;
  top: 50%;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__button span {
  width: 30px;
  height: 2px;
  background-color: var(--dark-color);
}

.header__button::before, .header__button::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: var(--dark-color);
}

.header__menu {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.header__menu li:not(:last-child) {
  margin-bottom: 10px;
}

.header__menu a {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-color);
  text-decoration: none;
}

.header__menu a:hover {
  color: var(--primary-color);
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.header__menu--active a {
  color: var(--primary-color);
}

.home-hero {
  background-color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 60px;
}

.home-hero .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-hero img {
  margin-bottom: 34px;
}

.home-hero__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-hero__description h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark-color);
  text-align: center;
  line-height: 40px;
  margin-bottom: 21px;
}

.home-hero__description p {
  line-height: 23px;
  text-align: center;
  margin-bottom: 27px;
}

.home-hero__description a {
  max-width: 208px;
  width: 100%;
  min-height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  background: var(--primary-color);
  border: 2px solid transparent;
  border-radius: 2px;
  text-decoration: none;
}

.recent-posts {
  padding: 33px 0 40px;
  background-color: var(--light-secondry-color);
}

.recent-posts .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.recent-posts__header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.recent-posts__header h2 {
  font-size: 18px;
}

.recent-posts__header a {
  display: none;
  text-decoration: none;
  color: var(--secondry-color);
}

.recent-posts__view-all {
  align-self: center;
  color: var(--secondry-color);
  text-decoration: none;
}

.recent-posts ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
}

.post:not(:last-child) {
  margin-bottom: 17px;
}

.post a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-color);
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 12px 21px 21px;
  color: var(--dark-color);
  border: 2px solid transparent;
  text-decoration: none;
}

.post__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
}

.post__meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.post__meta span:nth-of-type(1) {
  margin-right: 24px;
}

.post__meta span:nth-of-type(2) {
  margin-left: 24px;
}

.post__description {
  line-height: 23px;
}

.featured-works {
  padding: 23px 0 150px;
  background-color: var(--white-color);
}

.featured-works .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.featured-works__header {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.featured-works__header h2 {
  font-size: 18px;
}

.featured-works ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.work:not(:last-child) {
  margin-bottom: 30px;
}

.work a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: var(--dark-color);
  text-decoration: none;
  padding: 0 7px 17px;
  border-bottom: 1px solid #E0E0E0;
}

.work img {
  margin-bottom: 17px;
}

.work__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.work__description h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.work__description > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.work__description > div span:nth-of-type(1) {
  min-width: 62px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #142850;
  color: var(--white-color);
  font-weight: 900;
  margin-right: 22px;
}

.work__description > div span:nth-of-type(2) {
  color: var(--light-color);
}

.work__description p {
  line-height: 23px;
}

.footer {
  background-color: var(--white-color);
}

.footer .container{
  min-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.footer__social li:not(:last-child) {
  margin-right: 35px;
}

.footer__social a {
  text-decoration: none;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 992px) {

  .icon:hover {
    opacity: .8;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: linear;
  }

  .home-hero {
    padding-top: 140px;
    padding-bottom: 70px;
  }

  .home-hero .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home-hero img {
    order: 2;
    margin-bottom: 0;
  }

  .home-hero .home-hero__description {
    order: 1;
    align-items: flex-start;
    margin-right: 115px;
  }

  .home-hero__description h2 {
    font-size: 44px;
    text-align: left;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .home-hero__description p {
    text-align: left;
    margin-bottom: 38px;
  }

  .home-hero__description a:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in;
  }

  .recent-posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recent-posts__header h2 {
    font-size: 22px;
  }

  .recent-posts__header a {
    display: flex;
  }

  .recent-posts__header a:hover {
    color: var(--dark-color);
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
  }

  .recent-posts ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 32px;
  }

  .recent-posts__view-all {
    display: none;
  }

  .post a {
    padding: 24px 22px 22px;
  }

  .post a:hover {
    border-color: var(--dark-color);
    transition-property: border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
  }
  
  .post:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .post__title {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 17px;
  }

  .post__meta {
    font-size: 18px;
  }

  .featured-works {
    padding: 36px 0 83px;
  }

  .work a {
    flex-direction: row;
    padding: 0 0 15px;
  }

  .work img {
    max-width: 246px;
    margin-bottom: 0;
    margin-right: 18px;
  }

  .work__description h3 {
    font-size: 30px;
  }
  
  .work__description > div span:nth-of-type(1) {
    font-size: 18px;
  }
  
  .work__description > div span:nth-of-type(2) {
    font-size: 20px;
  }
}